.landing {
  position: relative;
  z-index: 5;
  max-height: none;
  min-height: auto;
  margin-top: 0px;
  padding-top: 50px;
  text-align: center;
}

.h1 {
  margin-top: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #4b4d4f;
  line-height: 50px;
  text-align: center;
}

.h1.white {
  color: #fff;
  line-height: 50px;
}

.h1.hero {
  font-size: 48px;
  line-height: 60px;
}

.h1.width {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin: 0px auto 50px;
}

.advantages {
  position: static;
  height: auto;
  margin-top: -35px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #fff;
}

.network-illustration {
  position: static;
  margin-top: -300px;
  padding-bottom: 0px;
}

.div-block {
  position: static;
}

.main-container {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.advantage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 100px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.adv-img {
  width: 30%;
}

.adv-text {
  position: relative;
  width: 60%;
  text-align: left;
}

.h2 {
  font-family: 'Varela Round', sans-serif;
  color: #4b4d4f;
  text-align: center;
}

.paragraph {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #4b4d4f;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.paragraph.address {
  margin-top: 0px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.prepare-your-plastic {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fcfcfc;
  text-align: center;
}

.video-wrapper {
  width: 50%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 3px;
  background-color: #c1adec;
}

.poster {
  width: 40%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-width: 3px;
  border-color: #c1adec;
  border-radius: 10px;
}

.download-poster {
  display: block;
  width: 50%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Varela Round', sans-serif;
  color: #c1adec;
  font-size: 18px;
  text-decoration: none;
}

.download-poster:hover {
  margin-top: 50px;
  padding-top: 0px;
  color: #9d7ce4;
}

.stats {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #c1adec;
}

.stats-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.stat-block {
  text-align: center;
}

.heading {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  text-align: center;
}

.heading.rightalign {
  text-align: right;
}

.img-stat {
  margin-right: auto;
  margin-left: auto;
}

.map {
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 99px;
}

.body {
  text-align: center;
}

.image {
  width: 15%;
  margin-top: 30px;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/footer.png');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.link {
  position: static;
  display: block;
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.h3 {
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 20px;
}

.image-2 {
  margin-top: -100px;
  margin-left: 50%;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.map-element {
  width: auto;
  height: 480px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.ma-wrapper {
  width: 60%;
  height: 500px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #c1adec;
}

.business-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  margin-right: -50px;
  padding: 16px 100px 16px 15px;
  background-image: url('../images/business-blob.png');
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

.link-2 {
  color: #fff;
}

.image-4 {
  display: none;
}

.link-3 {
  color: #4b4d4f;
}

.link-3:hover {
  color: #828990;
}

.advantage-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 100px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.advantage-text {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .advantages {
    margin-top: 0px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .network-illustration {
    margin-top: 0px;
  }
  .advantage {
    width: 100%;
  }
  .paragraph.address {
    margin-top: 50px;
  }
  .prepare-your-plastic {
    padding-right: 100px;
    padding-left: 100px;
  }
  .video-wrapper {
    width: 100%;
  }
  .poster {
    width: 80%;
  }
  .stats-wrapper {
    width: 100%;
  }
  .map {
    overflow: hidden;
    padding-right: 100px;
    padding-left: 100px;
  }
  .image {
    width: 40%;
  }
  .footer {
    height: 200px;
    background-position: 50% 50%;
  }
  .image-2 {
    width: 15%;
    margin-top: -62px;
    margin-left: 70%;
  }
  .map-element {
    height: 280px;
  }
  .ma-wrapper {
    width: 100%;
    height: 300px;
  }
  .business-wrapper {
    overflow: hidden;
    margin-top: 50px;
    margin-right: -150px;
  }
  .advantage-wrapper {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .image-2 {
    margin-top: -50px;
  }
  .advantage-text {
    width: 80%;
  }
}

@media (max-width: 479px) {
  .landing {
    padding-right: 10px;
    padding-left: 10px;
  }
  .h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .h1.hero {
    font-size: 32px;
    line-height: 40px;
  }
  .h1.width {
    width: 100%;
  }
  .advantages {
    padding-right: 10px;
    padding-left: 10px;
  }
  .network-illustration {
    display: none;
  }
  .adv-img {
    width: 50%;
  }
  .adv-text {
    width: 100%;
  }
  .h2 {
    font-size: 24px;
  }
  .prepare-your-plastic {
    padding-right: 10px;
    padding-left: 10px;
  }
  .poster {
    width: 100%;
    margin-top: 50px;
  }
  .stats {
    padding-right: 10px;
    padding-left: 10px;
  }
  .stats-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .stat-block {
    margin-bottom: 50px;
  }
  .heading {
    font-size: 16px;
  }
  .map {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer {
    height: 200px;
  }
  .link {
    font-size: 16px;
  }
  .h3 {
    font-size: 18px;
  }
  .image-2 {
    width: 30%;
    margin-top: 30px;
    margin-left: 70%;
  }
  .map-element {
    height: 230px;
  }
  .ma-wrapper {
    height: 250px;
  }
  .image-3 {
    width: auto;
  }
  .business-wrapper {
    display: none;
  }
  .image-4 {
    display: block;
  }
  .advantage-text {
    width: 90%;
  }
}

